.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
  color: #2e81f4;
  border: 2px solid #2e81f4;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login__poweredBy > h2 {
  margin-top: 30px;
  font-weight: 300;
  text-align: center;
}

.login__google {
  margin-bottom: -50px;
  margin-top: 30px;
  width: 300px;
  cursor: pointer;
}

/* Media */
@media screen and (max-width: 768px) {
  .login {
    height: 120vh;
    width: 0vh;
    margin-left: 340px;
    padding-top: 50px;
  }

  .login > button {
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-top: -480px;
    margin-bottom: 30px;
  }

  .login > div > img {
    height: 200px;
  }

  .login__poweredBy > h2 {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .login__google {
    margin-top: 100px;
    width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .login {
    height: 220vh;
    width: 0vh;
    margin-left: 200px;
  }

  .login > button {
    margin-top: -1000px;
    width: 600px;
    height: 60px;
    font-size: 30px;
  }

  .login > div > img {
    height: 300px;
  }

  .login__poweredBy > h2 {
    margin-bottom: 200px;
    font-size: 40px;
  }

  .login__google {
    margin-top: 30px;
    width: 400px;
  }
}
